@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-text: white;
  --color-details-1: #d6e6ff;
  --color-details-10: #afccff;
  --color-details-50: #8bb3fb;
  --color-details-75: #6a99f0;
  --color-details-100: #507fe3;
  --color-details-200: #3a65d3;
  --color-details-300: #274bbf;
  --color-details-400: #1832a4;
  --color-details-500: #0c1c83;
  --color-details-600: #050c59;
}

.button {
  all: unset;
  background-color: var(--color-details-100);
  border: 2px solid var(--color-details-300);
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
}

.button[disabled] {
  pointer-events: none;
  background-color: var(--color-details-500);
  color: var(--color-text);
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--color-details-50);
}

.button:active {
  color: var(--color-text);
  border-color: var(--color-details-300);
}

.button:focus {
  outline: 1px solid var(--color-details-300);
}
